* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --text-color: #fff;
  --bg-color: #222222;
  --bg-color2: #1b1b1b;
  --main-color: #fcdd27;
  --navtextColor: #d3d3d3;
  --p-font: 1vw;
  --p-color: #d3d3d3;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  padding: 0 100px;
  height: 100px;
  width: 100%;
  background-color: var(--bg-color);
}
.menu {
  display: flex;
}
.menu a {
  text-decoration: none;
  padding: 0 10px;
}
.menu a li {
  list-style: none;
  color: #d3d3d3;
  transition: 0.5s;
}
.menu a li:hover {
  color: var(--main-color);
}
.navSpan {
  font-weight: 400;
}
.logo h3 {
  font-size: 22px;
  color: white;
}
.navMedia button {
  padding: 3px 10px;
  border: none;
  background-color: #484848;
  color: white;
  margin: 0 8px;
  border-radius: 20px;
  font-size: 1vw;
  transition: 0.4s;
}
.navMedia button:hover {
  background-color: #1b1b1b;
}
.navMedia button a {
  text-decoration: none;
  color: white;
}
.navMedia button i {
  padding: 0 5px;
  font-size: 1.3vw;
}
/* hero section */
#heroSection {
  display: flex;
  flex-direction: row;
  height: 700px;
  padding-top: 100px;
  background-color: #1b1b1b;
}
.heroLeftContent {
  width: 50%;
  height: 600px;
  padding-top: 140px;
  padding-left: 100px;
}
.heroLeftContent h1 {
  padding-bottom: 20px;
}
.heroLeftContent h1 .span0 {
  font-weight: 500;
  color: white;
}
.heroLeftContent h1 .span1 {
  font-size: 3.2vw;
  font-weight: 600;
  color: white;
}
.heroLeftContent h1 .span2 {
  font-size: 3vw;
  color: var(--main-color);
}
.heroRightContent img {
  width: 90px;
  display: inline-block;
  padding-top: 20px;
  padding-left: 40px;
}
.heroLeftContent p {
  padding-bottom: 20px;
  color: var(--p-color);
}
.heroRightContent {
  width: 50%;
  height: 600;
}
.heroRightContent img {
  width: 85%;
  padding-top: 30px;
}
.heroBtn a {
  text-decoration: none;
  color: black;
}
.heroBtn {
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  background: rgb(252, 221, 39);
  background: linear-gradient(
    90deg,
    rgba(252, 221, 39, 1) 42%,
    rgba(255, 243, 172, 1) 100%
  );
  transition: 0.5s;
}
.heroBtn:hover {
  background: rgb(255, 243, 172);
  background: linear-gradient(
    90deg,
    rgba(255, 243, 172, 1) 25%,
    rgba(252, 221, 39, 1) 100%
  );
}

/* About section */
#aboutSection {
  background-color: var(--bg-color);
}
#aboutSection h1 {
  color: white;
  text-align: center;
  font-size: 2.5vw;
  font-weight: 500;
  padding-top: 40px;
}
#aboutSectionContent {
  width: 100%;
  height: 700px;
  display: flex;
  background-color: var(--bg-color);
}
.aboutLeftContent {
  width: 50%;
  height: 600px;
  display: flex;
  align-items: center;
}
.aboutLeftContent img {
  width: 75%;
  padding-left: 100px;
  padding-top: 75px;
}
.aboutRightContent {
  width: 50%;
  height: 600px;
  padding-right: 100px;
}
.aboutRightContent {
  display: flex;
  flex-direction: column;
  padding-top: 130px;
}
.aboutRightContent .quoteTitle {
  color: var(--main-color);
  padding-bottom: 30px;
}
.quote {
  font-size: 2vw;
  background-color: #484848;
  color: white;
  padding: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  border-left: 9px solid var(--main-color);
  margin-right: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quote span {
  font-size: 3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--main-color);
}
.aboutRightContent .aboutPera {
  color: var(--p-color);
  font-size: 1.2vw;
}
.aboutPera span {
  font-weight: 600;
  border: 3px solid var(--main-color);
  border-radius: 20px;
  padding: 0.1px 6px;
}

/* Skill and Socials */
#skillSocials {
  width: 100%;
  height: 700px;
  display: flex;
  background-color: var(--bg-color2);
}
.allSkillContent h1 {
  background-color: var(--bg-color2);
  color: white;
  text-align: center;
  font-size: 2.5vw;
  font-weight: 500;
  padding-top: 60px;
  padding-bottom: 50px;
}
.skills {
  width: 60%;
  color: white;
  height: 600px;
  padding-top: 50px;
}
.socials {
  width: 40%;
  height: 600px;
}
.skill {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 10px 10px;
  padding: 10px 15px;
  border-radius: 8px;
  border-bottom: 5px solid var(--main-color);
  background-color: #484848;
  transition: 0.3s;
}
.skill:hover {
  background-color: var(--bg-color);
}
.firstContent {
  display: flex;
  align-items: center;
}
.skill .firstContent img {
  width: 30px;
}
.skill .firstContent h4 {
  padding-left: 12px;
}
.secondContent p {
  font-size: 0.9vw;
  color: var(--navtextColor);
}
.skills {
  padding-left: 100px;
  display: flex;
  flex-wrap: wrap;
}
.social img {
  width: 25px;
}
.social {
  display: flex;
  background-color: var(--bg-color);
  width: 400px;
  padding: 20px 15px;
  margin: 8px 0;
  color: white;
  border-radius: 5px;
  border: 2px solid #565656;
  transition: 0.3s;
}
.social:hover {
  background-color: #565656;
}
.social h4 {
  padding: 0 10px;
  font-weight: 500;
  font-size: 1.2vw;
  padding-right: 20px;
}
.social p {
  color: var(--navtextColor);
}
.socialContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 100px;
  padding-top: 50px;
}
.socialContent a {
  text-decoration: none;
}

/* Experience Section */

.experienceEducation {
  width: 100%;
  height: 900px;
  display: flex;
  padding-top: 50px;
  background-color: var(--bg-color);
}
.experiences {
  width: 55%;
  height: 700px;
  padding: 20px 30px 0 100px;
  color: white;
}
.educations {
  width: 45%;
  height: 700px;
  color: white;
  padding: 20px 100px 0 40px;
}
.educations ul {
  padding-left: 40px;
}
.educations ul li {
  line-height: 30px;
}
.experienceTitle img {
  width: 40px;
}
.experienceContent {
  background-color: #484848;
  margin: 20px 0;
  width: 85%;
  margin-top: 50px;
  padding: 25px 40px;
  border-radius: 15px;
}
.experienceTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}
.experienceTitle h3 {
  font-size: 1.5vw;
  font-weight: 500;
}
.peraContent {
  color: var(--p-color);
  font-size: 1.1 vw;
}
.allContent {
  padding-top: 40px;
}
.education1 {
  padding-top: 30px;
}
.education .focus {
  color: var(--main-color);
  padding-bottom: 5px;
}
.educationHeader h2 {
  font-size: 1.8vw;
  font-weight: 500;
}
.experienceHeader h2 {
  font-size: 1.8vw;
  font-weight: 500;
}
