* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --text-color: #fff;
  --bg-color: #222222;
  --bg-color2: #1b1b1b;
  --main-color: #fcdd27;
  --navtextColor: #d3d3d3;
  --p-font: 1vw;
  --p-color: #d3d3d3;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  padding: 0 100px;
  height: 100px;
  width: 100%;
  border-bottom: 0.5px solid #6b6b6b;
  background-color: var(--bg-color);
}
.menu {
  display: flex;
}
.menu a {
  text-decoration: none;
  padding: 0 10px;
}
.menu a li {
  list-style: none;
  color: #d3d3d3;
  transition: 0.5s;
}
.menu a li:hover {
  color: var(--main-color);
}
.navSpan {
  font-weight: 400;
}
.logo h3 {
  font-size: 22px;
  color: white;
}
.navMedia button {
  padding: 3px 10px;
  border: none;
  background-color: #484848;
  color: white;
  margin: 0 8px;
  border-radius: 20px;
  font-size: 1vw;
  transition: 0.4s;
}
.navMedia button:hover {
  background-color: #1b1b1b;
}
.navMedia button a {
  text-decoration: none;
  color: white;
}
.navMedia button i {
  padding: 0 5px;
  font-size: 1.3vw;
}
@media (max-width: 600px) {
  #navbar {
    height: 80px;
    position: fixed;
    overflow: hidden;
  }
  #navbar .menu {
    display: none;
  }
  #navbar .logo h3 {
    font-size: 3vw;
  }
  .navMedia button {
    padding: 3px 8px;
    border: none;
    background-color: #484848;
    color: white;
    margin: 0 5px;
    border-radius: 20px;
    font-size: 2.2vw;
    transition: 0.4s;
  }
  .navMedia button i {
    font-size: 2.2vw;
  }
}
/* hero section */
#heroSection {
  display: flex;
  flex-direction: row;
  height: 700px;
  padding-top: 100px;
  background-color: #1b1b1b;
}
.heroLeftContent {
  width: 50%;
  height: 600px;
  padding-top: 140px;
  padding-left: 100px;
}
.heroLeftContent h1 {
  padding-bottom: 20px;
}
.heroLeftContent h1 .span0 {
  font-weight: 500;
  color: white;
}
.heroLeftContent h1 .span1 {
  font-size: 3.2vw;
  font-weight: 600;
  color: white;
}
.heroLeftContent h1 .span2 {
  font-size: 3vw;
  color: var(--main-color);
}
.heroRightContent img {
  width: 90px;
  display: inline-block;
  padding-top: 20px;
  padding-left: 40px;
}
.heroLeftContent p {
  padding-bottom: 20px;
  color: var(--p-color);
}
.heroRightContent {
  width: 50%;
  height: 600;
}
.heroRightContent img {
  width: 85%;
  padding-top: 30px;
}
.heroBtn a {
  text-decoration: none;
  color: black;
}
.heroBtn {
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  background: rgb(252, 221, 39);
  background: linear-gradient(
    90deg,
    rgba(252, 221, 39, 1) 42%,
    rgba(255, 243, 172, 1) 100%
  );
  transition: 0.5s;
}
.heroBtn:hover {
  background: rgb(255, 243, 172);
  background: linear-gradient(
    90deg,
    rgba(255, 243, 172, 1) 25%,
    rgba(252, 221, 39, 1) 100%
  );
}
@media (max-width: 600px) {
  #heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
  }
  .heroRightContent {
    width: 100%;
  }
  .heroLeftContent {
    width: 100%;
    padding: 50px 100px 50px 100px;
  }
  .heroRightContent img {
    width: 100%;
    padding: 0px;
    padding: 0 50px;
  }
  .heroLeftContent h1 .span0 {
    font-size: 4.5vw;
  }
  .heroLeftContent h1 .span1,
  .heroLeftContent h1 .span2 {
    font-size: 6.5vw;
  }
}
/* About section */
#aboutSection {
  background-color: var(--bg-color);
}
#aboutSection h1 {
  color: white;
  text-align: center;
  font-size: 2.5vw;
  font-weight: 500;
  padding-top: 40px;
}
#aboutSectionContent {
  width: 100%;
  height: 700px;
  display: flex;
  background-color: var(--bg-color);
}
.aboutLeftContent {
  width: 50%;
  height: 600px;
  display: flex;
  align-items: center;
}
.aboutLeftContent img {
  width: 75%;
  padding-left: 100px;
  padding-top: 75px;
}
.aboutRightContent {
  width: 50%;
  height: 600px;
  padding-right: 100px;
}
.aboutRightContent {
  display: flex;
  flex-direction: column;
  padding-top: 130px;
}
.aboutRightContent .quoteTitle {
  color: var(--main-color);
  padding-bottom: 30px;
}
.quote {
  font-size: 2vw;
  background-color: #484848;
  color: white;
  padding: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  border-left: 9px solid var(--main-color);
  margin-right: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quote span {
  font-size: 3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--main-color);
}
.aboutRightContent .aboutPera {
  color: var(--p-color);
  font-size: 1.2vw;
}
.aboutPera span {
  font-weight: 600;
  border: 3px solid var(--main-color);
  border-radius: 20px;
  padding: 0.1px 6px;
}
@media (max-width: 600px) {
  #aboutSectionContent {
    display: flex;
    flex-direction: column;
    height: 400px;
  }
  #aboutSection h1 {
    font-size: 4.5vw;
    padding-bottom: 20px;
  }
  .aboutLeftContent {
    display: none;
  }
  .aboutRightContent {
    width: 100%;
    display: flex;
    padding: 0 100px;
    padding-right: 50px;
  }
  .aboutRightContent .quote {
    font-size: 3.5vw;
  }
  .aboutRightContent .quoteTitle {
    padding: 0;
    font-size: 2.2vw;
    padding-bottom: 5px;
  }
  .aboutRightContent .aboutPera {
    font-size: 2.5vw;
  }
}
/* Skill and Socials */
#skillSocials {
  width: 100%;
  height: 700px;
  display: flex;
  background-color: var(--bg-color2);
}
.allSkillContent h1 {
  background-color: var(--bg-color2);
  color: white;
  text-align: center;
  font-size: 2.5vw;
  font-weight: 500;
  padding-top: 60px;
  padding-bottom: 50px;
}
.skills {
  width: 60%;
  color: white;
  height: 600px;
  padding-top: 50px;
}
.socials {
  width: 40%;
  height: 600px;
}
.skill {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 10px 10px;
  padding: 10px 15px;
  border-radius: 8px;
  border-bottom: 5px solid var(--main-color);
  background-color: #484848;
  transition: 0.3s;
}
.skill:hover {
  background-color: var(--bg-color);
}
.firstContent {
  display: flex;
  align-items: center;
}
.skill .firstContent img {
  width: 30px;
}
.skill .firstContent h4 {
  padding-left: 12px;
}
.secondContent p {
  font-size: 0.9vw;
  color: var(--navtextColor);
}
.skills {
  padding-left: 100px;
  display: flex;
  flex-wrap: wrap;
}
.social img {
  width: 25px;
}
.social {
  display: flex;
  background-color: var(--bg-color);
  width: 400px;
  padding: 20px 15px;
  margin: 8px 0;
  color: white;
  border-radius: 5px;
  border: 2px solid #565656;
  transition: 0.3s;
}
.social:hover {
  background-color: #565656;
}
.social h4 {
  padding: 0 10px;
  font-weight: 500;
  font-size: 1.2vw;
  padding-right: 20px;
}
.social p {
  color: var(--navtextColor);
}
.socialContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 100px;
  padding-top: 50px;
}
.socialContent a {
  text-decoration: none;
}

@media (max-width: 600px) {
  #skillSocials {
    display: flex;
    flex-direction: column;
    height: 1100px;
  }
  .skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    padding: 0 50px;
  }
  .skill {
    width: 35%;
  }
  .socialContent {
    padding: 0;
  }
  .socials {
    width: 100%;
    margin-top: 30px;
    /* height: 600px; */
  }
  .secondContent p {
    font-size: 1.5vw;
  }
  .firstContent h4 {
    font-size: 2.3vw;
    font-weight: 500;
  }
  .skill .firstContent img {
    width: 25px;
  }
  .social h4 {
    font-size: 2.8vw;
  }
  .social p {
    font-size: 2vw;
  }
  .allSkillContent h1 {
    font-size: 4.5vw;
    padding-bottom: 25px;
  }
}
/* Experience Section */

.experienceEducation {
  width: 100%;
  height: 900px;
  display: flex;
  padding-top: 50px;
  background-color: var(--bg-color);
}
.experiences {
  width: 55%;
  height: 700px;
  padding: 20px 30px 0 100px;
  color: white;
}
.educations {
  width: 45%;
  height: 700px;
  color: white;
  padding: 20px 100px 0 40px;
}
.educations ul {
  padding-left: 40px;
}
.educations ul li {
  line-height: 30px;
}
.experienceTitle img {
  width: 40px;
}
.experienceContent {
  background-color: #484848;
  margin: 20px 0;
  width: 85%;
  margin-top: 50px;
  padding: 25px 40px;
  border-radius: 15px;
}
.experienceTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}
.experienceTitle h3 {
  font-size: 1.5vw;
  font-weight: 500;
}
.peraContent {
  color: var(--p-color);
  font-size: 1.1 vw;
}
.allContent {
  padding-top: 40px;
}
.education1 {
  padding-top: 30px;
}
.education .focus {
  color: var(--main-color);
  padding-bottom: 5px;
}
.educationHeader h2 {
  font-size: 1.8vw;
  font-weight: 500;
}
.experienceHeader h2 {
  font-size: 1.8vw;
  font-weight: 500;
}
@media (max-width: 600px) {
  .experienceEducation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1500px;
  }
  .experiences {
    width: 100%;
    padding: 0;
    padding: 0 100px;
  }
  .experienceContent {
    margin-top: 20px;
    width: 100%;
  }
  .experienceHeader h2 {
    font-size: 3.5vw;
  }
  .experienceTitle h3 {
    font-size: 2.5svw;
  }
  .peraContent {
    font-size: 2.2vw;
  }
  .educations {
    width: 100%;
    padding: 0 100px;
    padding-top: 150px;
  }
  .educationHeader h2 {
    font-size: 3.5vw;
  }
  .allContent {
    padding-top: 20px;
  }
  .education ul li {
    font-size: 2.3vw;
  }
}
/* Projects Section */
.allProjects {
  padding: 0 100px;
  /* background-color: var(--bg-color2); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}
.allProjectsContent {
  background-color: var(--bg-color2);
  height: 1100px;
}
.projects {
  width: 380px;
  background-color: var(--bg-color);
  color: white;
  border-radius: 10px;
  margin: 15px 15px;
}
.projectImg img {
  width: 100%;
}
.projectContent .mainContent {
  padding: 15px 20px;
}
.projectContent .mainContent .sourse {
  display: flex;
  margin: 5px 0;
}
.projectContent .mainContent .sourse .git {
  margin-left: 20px;
}
.sourse .live a,
.sourse .git a {
  text-decoration: none;
  color: black;
  background: rgb(252, 221, 39);
  background: linear-gradient(
    90deg,
    rgba(252, 221, 39, 1) 42%,
    rgba(255, 243, 172, 1) 100%
  );
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 1vw;
  transition: 0.3s;
}
.sourse .live a:hover,
.sourse .git a:hover {
  background: rgb(255, 243, 172);
  background: linear-gradient(
    90deg,
    rgba(255, 243, 172, 1) 25%,
    rgba(252, 221, 39, 1) 100%
  );
}
.sourse {
  padding: 15px 0;
}
.mainContent .projectTitle h2 {
  font-weight: 500;
  font-size: 1.5vw;
}
.projectPera p {
  font-size: 1vw;
  color: var(--navtextColor);
}
.allProjectsContent h1 {
  background-color: var(--bg-color2);
  color: white;
  text-align: center;
  font-size: 2.5vw;
  font-weight: 500;
  padding-top: 60px;
  /* padding-bottom: 50px; */
}
@media (max-width: 600px) {
  .allProjectsContent {
    height: 2600px;
  }
  .allProjectsContent h1 {
    font-size: 4.5vw;
    padding-top: 30px;
  }
  .allProjects {
    margin-top: 20px;
  }
  .mainContent .projectTitle h2 {
    font-size: 3vw;
  }
  .sourse .live a,
  .sourse .git a {
    font-size: 1.9vw;
  }
  .sourse {
    padding: 10px 0;
  }
  .projectPera p {
    font-size: 2vw;
  }
}
