* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --text-color: #fff;
  --bg-color: #222222;
  --main-color: #fcdd27;
  --navtextColor: #d3d3d3;
  --p-font: 1vw;
  --p-color: #d3d3d3;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  padding: 0 100px;
  height: 100px;
  width: 100%;
  background-color: var(--bg-color);
}
.menu {
  display: flex;
}
.menu a {
  text-decoration: none;
  padding: 0 10px;
}
.menu a li {
  list-style: none;
  color: #d3d3d3;
  transition: 0.5s;
}
.menu a li:hover {
  color: var(--main-color);
}
.navSpan {
  font-weight: 400;
}
.logo h3 {
  font-size: 22px;
  color: white;
}
.navMedia button {
  padding: 3px 10px;
  border: none;
  background-color: #484848;
  color: white;
  margin: 0 8px;
  border-radius: 20px;
  font-size: 1vw;
  transition: 0.4s;
}
.navMedia button:hover {
  background-color: #1b1b1b;
}
.navMedia button a {
  text-decoration: none;
  color: white;
}
.navMedia button i {
  padding: 0 5px;
  font-size: 1.3vw;
}
/* hero section */
#heroSection {
  display: flex;
  flex-direction: row;
  height: 700px;
  padding-top: 100px;
  background-color: #1b1b1b;
}
.heroLeftContent {
  width: 50%;
  height: 600px;
  padding-top: 140px;
  padding-left: 100px;
}
.heroLeftContent h1 {
  padding-bottom: 20px;
}
.heroLeftContent h1 .span0 {
  font-weight: 500;
  color: white;
}
.heroLeftContent h1 .span1 {
  font-size: 3.2vw;
  font-weight: 600;
  color: white;
}
.heroLeftContent h1 .span2 {
  font-size: 3vw;
  color: var(--main-color);
}
.heroRightContent img {
  width: 90px;
  display: inline-block;
  padding-top: 20px;
  padding-left: 40px;
}
.heroLeftContent p {
  padding-bottom: 20px;
  color: var(--p-color);
}
.heroRightContent {
  width: 50%;
  height: 600;
}
.heroRightContent img {
  width: 85%;
  padding-top: 30px;
}
.heroBtn a {
  text-decoration: none;
  color: black;
}
.heroBtn {
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  background: rgb(252, 221, 39);
  background: linear-gradient(
    90deg,
    rgba(252, 221, 39, 1) 42%,
    rgba(255, 243, 172, 1) 100%
  );
  transition: 0.5s;
}
.heroBtn:hover {
  background: rgb(255, 243, 172);
  background: linear-gradient(
    90deg,
    rgba(255, 243, 172, 1) 25%,
    rgba(252, 221, 39, 1) 100%
  );
}

/* About section */
#aboutSection {
  background-color: var(--bg-color);
}
#aboutSection h1 {
  color: white;
  text-align: center;
  font-size: 2.5vw;
  font-weight: 500;
  border-bottom: 6px groove var(--main-color);
  margin: 0 640px;
  padding-top: 40px;
}
#aboutSectionContent {
  width: 100%;
  height: 700px;
  display: flex;
  background-color: var(--bg-color);
}
.aboutLeftContent {
  width: 50%;
  height: 600px;
  display: flex;
  align-items: center;
}
.aboutLeftContent img {
  width: 75%;
  padding-left: 100px;
  padding-top: 75px;
}
.aboutRightContent {
  width: 50%;
  height: 600px;
  padding-right: 100px;
}
.aboutRightContent {
  display: flex;
  flex-direction: column;
  padding-top: 130px;
}
.aboutRightContent .quoteTitle {
  color: var(--main-color);
  padding-bottom: 30px;
}
.quote {
  font-size: 2vw;
  background-color: #484848;
  color: white;
  padding: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  border-left: 9px solid var(--main-color);
  margin-right: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quote span {
  font-size: 3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--main-color);
}
.aboutRightContent .aboutPera {
  color: var(--p-color);
  font-size: 1.2vw;
}
.aboutPera span {
  font-weight: 600;
  border: 3px solid var(--main-color);
  border-radius: 20px;
  padding: 0.1px 6px;
}
